<style>@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
</style>
/* General Rules*/


body {
    font-family: 'Lato', sans-serif;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav bar and header*/

.bg-body-tertiary {
    background-color: #1d2e40 !important;
}

a.nav-link {
    color: #F3E8E7 !important;
    font-size: 22px;
    font-family: 'Lato',
        sans-serif;

}

a.navbar-brand {
    color: #F3E8E7 !important;
    font-family: 'Lato',
        sans-serif;
     !important;
    font-size: 25px;
    max-width: 65%;
    padding-left: 20px;
}

.navbar-brand:hover {
    color: #ae9092 !important;

}

li a:hover {
    color: #ae9092 !important;
}

.navbar {
    min-width: 255px;
}

/* Hero Image*/

#jumbotron {
    height: 450px;
    width: 100%;
}

.jumbotron-container {
    margin-right: 10px;
}

.hero-image {
    background: url('/assets/images/heroimage.png') no-repeat center center;
    width: 100%;
    height: 450px;
    background-size: cover;

}

.hero-message {
    font-size: 40px;
    font-weight: 400;
    color: #F3E8E7;
    align-items: left;
    padding-top: 120px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.btn {
    background-color: #1d2e40;


}

.more-button {
    align-items: center;
    margin-left: 100px;

}


/* Quick Explainer*/

#welcome {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}


#club-ethos {
    height: 200px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}


.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;

}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('./assets/images/explainerphoto1.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}


.learn-more {
    text-align: center;
    padding-top: 40px;

}


/* Why online tutoring video section*/

#why-online {
    background-color: #d7d5da;
    clear: both;

}

.why-online-tutoring {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

iframe {
    margin-bottom: 90px;
    border-color: #F3E8E7;
    border-width: 5px;

}

/* Card Section*/

#card-section {
    width: 100%;
    height: 700px;
    background-color: #ebcdbd;

}

.card-heading {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.event-explainer {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: #000000;
}

.card-wrapper {
    justify-content: center;
}

.card {
    display: inline-block;
    padding: 30px;
    margin: 2rem;
}

.card-img-top {
    height: 150px;
    width: 90%;
}

.card-text {
    font-family: 'Lato',
        sans-serif;
    font-size: 25px;

}

/* Social Links*/

footer {
    height: 300px;
    background-color: #F3E8E7;

}

.social-networks {
    text-align: center;


}

.social-networks li {
    display: inline;
    height: 100vh;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1d2e40;
}

/*Key Benefits*/

#benefits-section {
    height: 700px;
    background-color: #ebcdbd;
}

.key-benefits {
    height: 480px;
}

.key-benefits-header {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}


.tutor-image {
    display: block;
    height: 500px;
    width: 80%;
    margin: auto;
    padding-top: 60px;
}

.benefits {
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.benefits-icon {
    font-size: 30px;
}

.benefits-heading {
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 22px;
}

.benefits-info {
    word-wrap: break-word;
    font-size: 20px;
    color: #000000;
}

/*Success Stories*/


.success-header h2 {
    text-align: center;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
}

.success-header h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: #000000;

}

.card-box {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.card {
    text-align: center;
    margin: 3rem;


}

.card-img-top {
    width: 200px;
    text-align: center;
}

.card-title {
    font-weight: 400;
    font-size: 25px;

}

.card-text {
    font-size: 20px;
    font-weight: 300;
}

/*Free Resource*/

#free-resource {
    height: 700px;
    background-image: url(../images/Free\ Resource\ Photo.png);
    center center no-repeat;
    background-size: cover;


}

.form {
    margin-left: 10px !important;
}


.form-header {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #cccccc;

}

.form-text {
    color: #F3E8E7;
    text-align: center;
    font-size: 25px;
    font-weight: 100;

}

.form {
    width: 60%;
    display: block;
    padding-top: 30px;

}

.form-control {
    margin: 2rem;
}

.free-button {
    text-align: center;
    padding-top: 10px;
}

/* Sign Up Form*/

.signupform {
    width: 100%;
    height: 600px;
    background-color: #d7d5da;

}

.signupheader {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}

.signuptext {
    text-align: center;

    font-size: 25px;
    font-weight: 100;
}

.form-sign-up {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/* Pictures*/

#pictures {
    height: 600px;
    background-color: #1d2e40;
}

.picture-container {
    margin: auto;
}

.picture1 {
    width: 50%;
    height: 600px;
    background-image: url("../images/signupphoto1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture2 {
    width: 50%;
    height: 600px;
    background-image: url("../images/signup2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* FAQs*/

.faqs {
    width: 100%;
    height: 150px;
}

.faqs-header {
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;

}




/* media queries*/

/*Small Screen Adjustments*/

@media only screen and (max-width: 576px) {


    .navbar-collapse {
        align-items: right;

    }

    .hero-message {
        inline-size: 150px;
        padding-top: 50px;
    }

    #right-about {
        width: 33%;
        margin-right: 70px;

    }

    #left-about {
        width: 33%;
        margin-right: 60px;
    }

    .left-about-text-one {
        display: none;
    }

    .left-about-text-two {
        display: none;
    }

    .right-about-text-one {
        display: none;
    }

    .right-about-text-two {
        display: none;
    }

    #center-about {
        clear: both;
    }


    .learn-more {
        padding-bottom: 30px;
        padding-top: 0;
    }

    hr {
        display: none;
    }

    #card-section {
        height: fit-content;

    }

    .card-wrapper {
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .event-explainer {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* success stories*/

    #benefits-section {
        height: 550px;
    }

    .benefit-info {
        width: 200%;
    }


    .key-benefits-header {
        font-size: 30px;
        padding-left: 25px;
        padding-top: 20px;
        margin-left: 80px;
        width: 150%;
    }

    p.benefits-info {
        display: none;
    }

    .tutor-image {
        display: none;
    }

    .card-box {
        display: block;


    }

    .card {
        margin-left: 120px;
        margin-right: 120px;
    }

    .card3 {
        display: none;
    }

    #free-resource {
        background-size: cover;

    }

    .free-button {
        margin-left: 32px;
    }

    #pictures {
        height: 200px;
    }

    .picture1 {
        background-size: contain;
    }

    .picture2 {
        background-size: contain;
    }

    /*Large screen adjustments*/
    .more-button {
        left: 140px;
        bottom: 60px;
        margin-left: 10px;
    }

    #explainer {
        height: 400px;
    }

    #left-about {
        padding-top: 30px;
        width: 33%;
        float: left;
    }

    #right-about {
        padding-top: 30px;
        width: 33%;
        float: right;
    }

    #center-about {
        width: 33%;
        margin: 0 auto;
    }

    hr {
        border-top: 1px solid #777777;
        width: 100%;
        margin: 5px 0;
    }

    .left-about-heading {
        width: 50%;
        color: #000000;
        float: right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        font-family: 'Nanum Gothic',
            sans-serif;
    }

    .right-about-heading {
        width: 50%;
        color: #000000;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        padding-left: 30px;
        font-family: 'Nanum Gothic',
            sans-serif;
    }

    .right-about-heading h2 {
        text-align: left;
        font-family: 'Nanum Gothic',
            sans-serif;
    }

    footer {
        height: 150px;
    }

    .social-networks {
        text-align: center;

    }

    .social-networks li {
        display: inline;
    }

    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #1d2e40;
    }

}