@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* General Rules*/


body {
    font-family: Roboto, sans-serif;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav bar and header*/

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#3a5362;
    height: 4em;
    padding: 0 4%;
    border-bottom: 2px solid #dfdfdf;
    border:0;
    
}


li{
    display:inline-block;
    padding:20px;
    
}


a{
    color:#F3E8E7;
    font-family: 'Nanum Gothic',
            sans-serif;
    text-decoration:none;
    font-size:18px;
}

a:hover{
        color:#B7A5A4;
}

.signup{
         padding-right:20px;
}

.login{
                background-color:#3a5362;
                    border:1px;
                    color: #F3E8E7;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    border-radius:15px;
}

.login:hover{color: #B7A5A4;
             
}


/* Hero Image*/

.hero-image{
           background: url("../images/heroimage.jpeg") no-repeat center center;
           width:100%;
           height:25em;
           background-size:cover;
           
}

.jumbotron {
    padding: 30px;
    /* fills out the jumbotron */
    background-color: transparent;
}

.container {
    width: 300px;
    
    /* specify a width */
    /* centers the container */
    padding: 0 15px;
    /* adds some padding to the left and right*/
}

.jumbotron .container {
    max-width: 300px;
    max-height:200px;
    position:relative;
    left:300px;
    top:50px;
    padding-bottom:20px;
    background-color:transparent;
    padding-top:20px;
    
    /* allows the jumbotron to adjust on smaller widths */
    
}

.jumbotron h1 {
    text-align: center;
    /* centers the heading */
    color: #F3E8E7;
    font-family: 'Nanum Gothic',
        sans-serif;
    font-weight: 100;
    font-size:35px;
    text-transform: uppercase;
    mix-blend-mode:difference;
    padding-bottom:20px;
}

.learn-more-button{background:#3a5362;
                   padding-top:10px;
                   padding-bottom:10px;
                   width: 110px;
                   height: 50px;
                   border-radius: 20px;
                   color:#F3E8E7;
                   font-size:16px;

       
       
}





/* Social Links*/















